*.apikey
apikey.json
apikey-custom.json

run-log.jsonl
models-custom.json

__pycache__/
*.pyc
.shots/
_theme_*.html
_test_*.html
_histtest.html
_seltest.html
_dlcheck.html
_shot*.html

logs/
enable_*
disable_*
process.id
